<template>
  <div class="question-box-container">
    <b-jumbotron>

      <template slot="lead">
        {{ currentQuestion.question | unescape }}
      </template>

      <hr class="my-4">

      <b-list-group>
        <b-list-group-item 
          v-for="(answer, index) in shuffledAnswers" 
          :key="index"
          :disabled="answered"
          @click="selectedAnswer(index)"
          :class="answerClass(index)"
        >
          {{ answer }}
        </b-list-group-item>
      </b-list-group>

      <b-button 
        variant="primary"
        @click="submitAnswer"
        :disabled="selectedIndex === null || answered"
      >
        Submit
      </b-button>
      <b-button 
        variant="success"
        v-if="currentQuestionIndex < totalQuestions - 1" 
        @click="next"
        :disabled="!answered"
      >
        Next
      </b-button>
    </b-jumbotron>
  </div>
</template>

<script>
import _ from 'lodash'
import he from 'he'

export default {
  props: {
    currentQuestion: Object,
    next: Function,
    increment: Function,
    totalQuestions: Number,
    currentQuestionIndex: Number
  },
  data() {
    return {
      selectedIndex: null,
      correctIndex: null,
      shuffledAnswers: [],
      answered: false
    }
  },
  computed: {
    answers() {
      return [
        ...this.currentQuestion.incorrect_answers,
        this.currentQuestion.correct_answer
      ]
    }
  },
  watch: {
    currentQuestion: {
      immediate: true,
      handler() {
        this.selectedIndex = null
        this.answered = false
        this.shuffleAnswers()
      }
    }
  },
  methods: {
    selectedAnswer(index) {
      this.selectedIndex = index
    },
    shuffleAnswers() {
      let answers = [
        ...this.currentQuestion.incorrect_answers,
        this.currentQuestion.correct_answer
      ]
      this.shuffledAnswers = _.shuffle(answers)
      this.correctIndex = this.shuffledAnswers.indexOf(this.currentQuestion.correct_answer)
    },
    submitAnswer() {
      let isCorrect = false
      if(this.selectedIndex === this.correctIndex) {
        isCorrect = true
      }
      this.answered = true
      this.increment(isCorrect)
    },
    answerClass(index) {
      let answerClass = ''

      if(!this.answered && this.selectedIndex === index) {
        answerClass = 'selected'
      } else if (this.answered && this.correctIndex === index) {
        answerClass = 'correct'
      } else if (this.answered && this.selectedIndex === index 
        && this.correctIndex !== index) {
        answerClass = 'incorrect'
      }

      return answerClass
    }
  },
  filters: {
    unescape(value) {
      return he.decode(value)
    }
  }
}
</script>

<style scoped>

  .list-group {
    margin-bottom: 15px;
  }

  .list-group-item:hover:not(.selected) {
    background: #ddd;
    cursor: pointer;
  }

  .btn {
    margin: 0 5px;
  }

  .selected {
    background-color: lightblue;
  }

  .correct {
    background-color: lightgreen;
  }

  .incorrect {
    background-color: red;
    color: #fff;
  }

</style>


